<!--<p-toast key="tst" [style]="{marginTop: '50px'}"></p-toast>-->

<div class="login-body" [ngClass]="{'layout-dark': dark, 'layout-light': !dark}">

    <div class="login-content">
        <div class="night-switch">
            <p-button styleClass="dark-switch" icon="pi pi-circle-on" (click)="dark = true"></p-button>
            <p-button styleClass="light-switch" icon="pi pi-circle-off" (click)="dark = false"></p-button>
        </div>
        <div class="login-panel">
            <div class="login-panel-content">
                <div class="logo">
                    <img id="logo-login" src="../../../../assets/layout/images/logo-login.png" alt="mirage-layout"/>
                </div>
                <h1>IGNUG - ASISTENCIA</h1>
                <p>Sistema de Gestión Académica</p>
                <div class="forms">
                    <div class="login-input-wrapper">
                        <label for="username">Identificación</label>
                        <input id="username" pInputText [(ngModel)]="user.user_name"
                               placeholder="Ingrese su número de cédula"
                               maxlength="10"
                               autocomplete="false"
                               (keypress)="validarSoloNumeros($event.key)"
                               tooltipEvent="focus"/>
                        <i class="pi pi-id-card"></i>
                    </div>

                    <div class="login-input-wrapper">
                        <label for="password">Contraseña</label>
                        <input [type]="flagPassword" id="password" placeholder="Ingrese su contraseña" pPassword
                               [(ngModel)]="user.password" tooltipEvent="focus" (keypress)="onLoggedin($event)"
                               [feedback]="false"/>
                        <i class="pi pi-eye" (click)="flagPassword='text'" *ngIf="flagPassword=='password'"></i>
                        <i class="pi pi-eye-slash" (click)="flagPassword='password'" *ngIf="flagPassword=='text'"
                           style="font-size: 2em"></i>
                    </div>
                    <p-messages [value]="msgs"></p-messages>
                    <div class="buttons">
                        <button pButton type="button" (click)="onLoggedin($event)" label="Login"
                                icon="pi pi-sign-in"></button>
                        <a href="#" class="secondary-button">¿Olvidó su contraseña?</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="desert"></div>
    </div>
</div>
