<div class="col-md-12 text-right mb-3">
    <button class="btn btn-primary" (click)="inovice()"> download pdf</button>
</div>


<div class="hero-image" id="htmlData">
    <img src="../../../assets/img/img_cert/diploma.jpg" alt="">
    <div class="header">
        <img src="../../../assets/img/img_cert/ecuador.png" alt="" class="img_ecuador">
        <label for="" class="label_general_its"> INSTITUTO SUPERIOR TECNOLÓGICO
            DE TURISMO Y PATRIMONIO
            "YAVIRAC
        </label>
        <img src="../../../assets/img/img_cert/yavi_text.png" alt="" class="img_yavi">
    </div>
    <div class="hero-text">
        <label class="label_general">A: <label class="label_nombre">Alvarez Cabrera Franklin Adrian</label></label>            
        <div class="hero-text_p">
            <label class="label_general_p">Por haber participado como Instructor en el curso de Desarrollo de capacidades
                digitales para tutores en línea del 02 de Diciembre al 03 de Diciembre. </label>
            <p class="fecha">D.M. De Quito, 03 de Diciembre 2020</p>
        </div>
    </div>
    <div class="firmas">
        <img src="../../../assets/img/img_cert/firma_rector.png" alt="" class="firma1">
        <img src="../../../assets/img/img_cert/firma_mauricio.png" alt="" class="firma2">

    </div>
    <div class="nombres">
        <p>
            <label for="" class="nombre1">Ivan Borja Carrera</label>
            <label for="" class="nombre2"> Mauricio Guamán</label>
        </p>
    </div>
    <div class="cargos">
        <p>
            <label for="" class="nombre1" style="font-weight: bold;">RECTOR IST "YAVIRAC"</label>
            <label for="" class="nombre2" style="font-weight: bold;">COORDINADOR CECY</label>
        </p>
    </div>
    <div class="codigo">
            <label for="" class="codigo1" style="font-weight: bold;">Código interno: ISTY-CECY-2020-DCDT-V-I-003</label>
    </div>
</div>

<br><br><br>

<div>
    <button class="btn col col-lg-4 btn-danger btn-block ml-4" (click)="downloadPDF()">Download PDF</button>
    <button class="btn col col-lg-4 btn-danger btn-block ml-4" (click)="exportar()">PDF</button>

</div>
